<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--여러개의 구현 클래스르 나열-->
    <bean id="nConnectionMaker" class="com.tob.part1.connectionMaker.NConnectionMaker"/>
    <bean id="dConnectionMaker" class="com.tob.part1.connectionMaker.DConnectionMaker"/>

    <bean id="goodDAO" class="com.tob.part1.dao.GoodDAO">
        <!--의존성 주입 객체는 서버 환경에 따라 갈아 교체 가능-->
        <property name="connectionMaker" ref="nConnectionMaker"/>
    </bean>
</beans>
