<?xml version="1.0" encoding="UTF-8"?>
<!--spring bean 설정을 xml로 하기 위함-->
<!--
bean 설정을 xml로 하는 것의 장점
1. 가독성
2. compile / build 필요 없음
3. java code 에서 bean 설정 (의존관계 포함)하는 것은 어색함
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/tob"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <!--여러개의 구현 클래스르 나열-->
    <bean id="nConnectionMaker" class="com.tob.part1.connectionMaker.NConnectionMaker"/>
    <bean id="dConnectionMaker" class="com.tob.part1.connectionMaker.DConnectionMaker"/>

    <bean id="goodDAO" class="com.tob.part1.dao.GoodDAO">
        <!--의존성 주입 객체는 서버 환경에 따라 갈아 교체 가능-->
        <!--        <property name="connectionMaker" ref="nConnectionMaker"/>-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="jdbcContext" class="com.tob.part3.dao.JdbcContext">
        <property name="dataSource" ref="dataSource"/>

    </bean>

    <bean id="goodDAO3" class="com.tob.part3.dao.GoodDAO">
        <property name="jdbcContext" ref="jdbcContext"/>
    </bean>

    <bean id="jdbcTemplateDAO" class="com.tob.part3.dao.JDBCTemplateDAO">
        <!--<property name="jdbcTemplate" value="org.springframework.jdbc.core.JdbcTemplate"/>-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="jdbcTemplateDAO4" class="com.tob.part4.dao.JDBCTemplateDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean id="userDaoJDBC" class="com.tob.part4.dao.UserDaoJDBC">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="jdbcTemplateDAO5" class="com.tob.part5.dao.JDBCTemplateDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="mailSender" class="com.tob.part5.DumpMailSender">
    </bean>


    <bean id="userDao" class="com.tob.part6.dao.JDBCTemplateDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userService" class="com.tob.part6.service.UserServiceTx">
        <property name="userService" ref="userServiceImpl"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean id="userServiceImpl" class="com.tob.part6.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="message" class="com.tob.part6.factorybean.MessageFactoryBean">
        <property name="text" value="This is from FactoryBean"/>
    </bean>

</beans>
