<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--<Properties>
        <Property name="logName">Log4j2TestProject</Property>
        <Property name="layoutPattern">[%d] %-5level [%thread] %C{100} %M - %msg%n</Property>
    </Properties>-->

    <!--console format-->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level [%thread] %C{100} %M - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--com.kghdev.* java source-->
        <logger name="com.kghdev" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </logger>

        <!--spring-->
        <logger name="org.springframework.core" level="info" additivity="false">
            <AppenderRef ref="console"/>

        </logger>

        <logger name="org.springframework.beans" level="info" additivity="false">
            <AppenderRef ref="console"/>

        </logger>

        <logger name="org.springframework.context" level="info" additivity="false">
            <AppenderRef ref="console"/>

        </logger>

        <logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </logger>


        <Logger name="org.springframework.jdbc.datasource">
        <level value="DEBUG"/>
        </Logger>

        <!--spring-->

        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
