<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logName">Log4j2TestProject</Property>
        <Property name="layoutPattern">[%d] %-5level [%thread] %C{100} %M - %msg%n</Property>
    </Properties>

    <!-- 콘솔, 파일에 찍을 때 형식 및 설정 셋팅-->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] %-5level [%thread] %C{100} %M - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- =================================================================== -->
        <!-- TESTPROJECT specific Logger setting								 -->
        <!-- =================================================================== -->
        <logger name="com.kghdev" level="debug" additivity="false">
            <AppenderRef ref="console"/> <!-- 콘솔에 로그 찍겠단 뜻 -->
        </logger>


        <!-- =================================================================== -->
        <!-- SPRING																 -->
        <!-- =================================================================== -->
        <logger name="org.springframework.core" level="debug" additivity="false">
            <AppenderRef ref="console"/>

        </logger>

        <logger name="org.springframework.beans" level="debug" additivity="false">
            <AppenderRef ref="console"/>

        </logger>

        <logger name="org.springframework.context" level="debug" additivity="false">
            <AppenderRef ref="console"/>

        </logger>

        <logger name="org.springframework.web" level="debug" additivity="false">
            <AppenderRef ref="console"/>
        </logger>


        <Logger name="org.springframework.jdbc.datasource">
        <level value="DEBUG"/>
        </Logger>

        <Root level="all" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
